 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre nós</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center"><strong>
                    <p>A 4flyers é uma startup que desenvolve soluções criativas e acessíveis de automação, além de desenvolver pesquisas com drones e oferecer cursos de tecnologia.</p></strong>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center"><strong>
                    <p>QUEM</p></strong>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Fundada em 2016, a 4flyers é formada por 4 engenheiros de Controle e Automação com um interesse em comum: difundir a robótica no Brasil.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center"><strong>
                    <p>POR QUÊ</p></strong>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Porque não transformar nosso hobby em produto? Queremos expandir o mercado de quadrirrotores e de automação no Brasil com novas idéias e novas aplicações.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center"><strong>
                    <p>COMO</p></strong>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Desenvolvemos produtos de automação (residencial, comercial e predial) buscando soluções seguras e práticas para nossos clientes. Além disso, oferecemos mini-cursos de tecnologia e desenvolvemos projetos com drones.</p>
                </div> 
                    <div class="col-lg-8 col-lg-offset-2 text-center"><strong>
                    <p>Gostou? Entre em contato conosco.</p></strong>
                </div>
            </div>
        </div>
    </section>

